*{
    padding: 0%;
    margin: 0%;
    top: 0%;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.form{
    margin-left: 50px;
    margin-top: 100;
    width: 500px;
    height: 300px;
    background:  #003366;
    box-shadow: 0px 3px 5px rgb(0, 0,0,0.8);
    border-radius: 10px;
}

.reagendar{
    color: white;
    margin-top: 5px;
    margin-left: 200px;
}
.top{
    color: white;
    margin-top: 30px;
}

.link1{
    color: black;
    padding: 10px 20px;
    background: white;
    text-decoration: none;
}
.link{
    margin-top: 10px;
    margin-left: 200px;
}
.link1:hover{
    transition: .8s;
    color:white;
    background: #003366;
}



body{
    display: flex;
    align-items: center;
    justify-content: center;
background-image: url(img/mensagem.png);
background-size: cover;
background-repeat: no-repeat;
height: 100vh;
}
